In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
path = 'D:\Code\Python\PythonLearning\用户新增预测挑战赛\input\\'
train = pd.read_csv(path + 'new_train.csv')
test = pd.read_csv(path + 'new_test.csv')

In [3]:
train.head()

,uuid,eid,common_ts,x1,x2,x3,x4,x5,x6,x7,...,target,key1,key2,key3,key4,key5,key6,key7,key8,key9
0,0,26,1689673468244,4,0,41,107,206,1,0,...,0,0,650,67804,0,0,0,0,0,0
1,1,26,1689082941469,4,0,41,24,283,4,8,...,0,0,484,67804,0,0,0,0,0,0
2,2,8,1689407393040,4,0,41,71,288,4,7,...,0,0,0,0,0,0,0,0,0,0
3,3,11,1689467815688,1,3,41,17,366,1,6,...,0,0,0,0,0,0,0,0,0,0
4,4,26,1689491751442,0,3,41,92,383,4,8,...,0,0,650,67804,0,0,0,0,0,0

In [6]:
train['common_ts_datetime'] = pd.to_datetime(train['common_ts'], unit='ms')
test['common_ts_datetime'] = pd.to_datetime(test['common_ts'], unit='ms')

In [13]:
train.dtypes

uuid                           int64
eid                            int64
common_ts                      int64
x1                             int64
x2                             int64
x3                             int64
x4                             int64
x5                             int64
x6                             int64
x7                             int64
x8                             int64
target                         int64
key1                           int64
key2                           int64
key3                           int64
key4                           int64
key5                           int64
key6                           int64
key7                           int64
key8                           int64
key9                           int64
common_ts_datetime    datetime64[ns]
day                            int64
hour                           int64
dtype: object

In [11]:
train['day'] = train['common_ts_datetime'].dt.day
train['hour'] = train['common_ts_datetime'].dt.hour

In [14]:
train['eid'].value_counts()

26    174811
35     82643
11     53698
8      51591
2      51071
34     49500
5      33127
21     31316
39     19504
41     17539
32      6742
12      6145
0       5355
25      5274
27      5210
40      4065
37      3578
15      3071
29      2374
3       1951
9       1584
30      1480
20      1463
10      1185
36       914
33       855
4        794
1        736
19       699
13       684
42       528
28       278
38       242
14       210
31       113
7         11
16         6
23         3
6          2
22         1
18         1
17         1
24         1
Name: eid, dtype: int64